
  .delete-rule-popup {
    width: 100%;
    border: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: gray;
    top: -150px;
    position: relative;

  }

  .delete-rule-popup .close{
    float: right;
  }