.links .homepage-link{
    margin: 20px;
    padding: 10px
}

.links .new-group-link{
    margin: 20px;
    padding: 10px
}

.links .groups-list-link{
    margin: 20px;
    padding: 10px
}

.links .update-user-link{
    margin: 20px;
    padding: 10px
}

.links .user-wallet-link{
    margin: 20px;
    padding: 10px
}

.links .create-rule-link{
    margin: 20px;
    padding: 10px
}

.links .rules-list-link{
    margin: 20px;
    padding: 10px
}

.links .variables-list-link{
    margin: 20px;
    padding: 10px
}

.links .orders-list-link{
    margin: 20px;
    padding: 10px
}