.login-card{
  width: 400px;
  background-color: white;
  padding: 15px;
  margin: auto;
  border: 2px solid black;
}

.login-card .form-control{
    margin: 10px auto;
}

.login-card h1{
  font-size: 30px;
  font-weight: normal;
}

