.container {
    display: flex;
    justify-content: center;
    max-width: 4000px;
    margin: 0 auto;
    padding: 10px 0;
}

.links {
    display: inline-block;
    justify-content: center;
    max-width: 4000px;
    margin: 0 auto;
    padding: 10px 0;
  }
  
Link {
    width: 50px;
    height: 50px;
    background: black;
}

.container .start-sesion-link {
    margin: 20px;
    padding: 10px
}

.container .sign-up-link {
    margin: 20px;
    padding: 10px
}

