.rule-card{
    width: 750px;
    height: 300px;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    margin-left: 150px;
    border: 2px solid black;
  }
  
  .rule-card h1{
    font-size: 30px;
    font-weight: normal;
  }

  .rule-card .rule-info{
    float:left;
    width:75%;
  }

  .rule-card .rule-actions{
    float:right;
    width:25%;
  }

  .rule-share-button{
    margin: 20px;
    top: 100%;
    left:50%;
    background-color: rgba(59, 47, 55, 0.548);
    padding: 15px;
    margin-top: 10px;
    margin-left: 150px;
    border: 2px solid black;
  }

  .rule-update-button{
    margin: 20px;
    padding: 10px;
    top: 66%;
    left:50%
  }

  .rule-delete-button{
    margin: 20px;
    padding: 10px;
    top: 33%;
    left:50%
  }