
  .share-rule-popup {
    width: 100%;
    border: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: gray;
    top: -100px;
    position: relative;
  }

  .share-rule-popup .close{
    float: right;
  }