
  .update-rule-popup {
    width: 100%;
    border: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: gray;
    top: -250px;
    position: relative;
  }

  .update-rule-popup textarea{
      height: 500px;
      width: 500px;
  }

  .update-rule-popup .close{
    float: right;
  }